.card {
	color: #fff;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	height: 100%;
	box-shadow: 3px 3px 15px rgba(45, 115, 255, 0.3);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.card:hover {
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
}

.card .card-top {
	min-height: 220px;
	max-height: 220px;
	flex: 1;
}

.card .card-top img {
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-ms-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	object-fit: cover;
	z-index: 999;
}

.card .card-bottom {
	/* background-color: #191927; */
	background-image: url("https://store.cloudflare.steamstatic.com/public/images/v6/home/background_spotlight.jpg");
	text-align: center;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 2;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-ms-border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;
}

.card .card-bottom h3 {
	font-size: 1.1rem;
	font-weight: 400;
	color: #fff;
	margin-bottom: 10px;
}

.card .card-bottom div {
	color: #acdbf5;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
