header {
	background-color: #1e1f26;
	padding: 25px 0;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
	position: relative;
	user-select: none;
}

header .nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

header .nav-list .nav-left h1 {
	font-size: 1.5rem;
	font-weight: 400;
	color: #fff;
}

header .nav-list .nav-left h1:hover {
	color: #1999ff;
}

header .nav-list .nav-right {
	display: flex;
	align-items: center;
	gap: 20px;
}

header .nav-list .nav-right button p {
	font-size: 0.8rem;
}

header .nav-list .nav-right button span {
	font-size: 1.1rem;
}

header .nav-list .nav-right button p {
	font-weight: 500;
}

@media screen and (max-width: 720px) {
	header {
		display: none;
	}
}
